version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:cdb113e8110f2ed8c5e2e1ef4b02494e0243f8d6fe59e4c0348441437ded2aaa
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"