version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:ab15990e12099ce2a8782cbf66fd7d1be800678c8c7c0d350400c2b992ed54f8
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"