version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:d612b6562b8ebb65ed2fa5d4afe9a36d49b71fe1883c67bf425cd996ac3d3923
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"