version: '2'
services:
  ruby:
    image: ruby:4.0-alpine@sha256:7d1c4a23da9b3539fdeb5f970950a8fe044a707219e546f12152b84bbd5755d1
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"