version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:5d473dc73a147efbdde59700852a1b57031e59f9b516a62f8ef37a968ad23aa6
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"