version: '2'
services:
  ruby:
    image: ruby:4.0-alpine@sha256:d2baafa11f55a4c8b71d5b7412a8a98e898989c2e8968d1f40ac33d094b9d03e
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"