version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:d279decff1a40535597120bf9546b6c01a5d00298b9a87628f28cf0efd07b02c
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"