version: '2'
services:
  ruby:
    image: ruby:4.0-alpine@sha256:ab8e777ecb6f43824e86e66f036fb6f549d6d026a4fac8eb80669338ee9eff11
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"