version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:885df0ba684eb6302aae26bb00575858b389256da6102c673a8a883be34a2c4c
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"