version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:bb36e2a845bc692f42650d51266c6500e3792c9b99d591e15d0ab6a1d7e2965d
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"