version: '2'
services:
  ruby:
    image: ruby:3.3-alpine@sha256:e23e5769638ad37f49ff6133da54c9b8447f5e4ad9a2aeb704cca36a85684969
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"