version: '2'
services:
  ruby:
    image: ruby:4.0-alpine@sha256:409cde4da4e42d002f5fa2e267ada8ad47669c34bb66942b772ed912f9a17273
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"