version: '2'
services:
  ruby:
    image: ruby:3.4-alpine@sha256:0c83c316b6b2a3770ff2af2a2bd2b7b7954aa622058891d52835571bff408782
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"