version: '2'
services:
  lint:
    image: buildkite/plugin-linter:latest
    command: ['--id', 'juandiegopalomino/junit-annotate-local']
    volumes:
      - ".:/plugin"
  plugin:
    image: buildkite/plugin-tester:latest@sha256:476a1024936901889147f53d2a3d8e71e99d76404972d583825514f5608083dc
    volumes:
      - ".:/plugin"
    depends_on:
      - ruby
  ruby:
    image: ruby:3.1-alpine@sha256:0b91e98c4613c2287bb7274a1584ea141b68960fb6b0edd7fe32127dc888d1a0
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"