version: '2'
services:
  ruby:
    image: ruby:4.0-alpine@sha256:f46e421b8a0de048f17c4b013ae65acbcf07063245e41c0e9cbeb2553b5b13f8
    command: rake
    working_dir: /src
    volumes:
      - "./ruby:/src"